@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Josefin+Sans:wght@700&family=Noto+Serif+Ahom&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Zeyada&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.app{
    text-align: center;
}